@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('Caveat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'MinecraftDefault';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('MinecraftDefault-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MinecraftDefault';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('MinecraftDefault-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Cinzel-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('Cinzel-SemiBold.ttf') format('truetype');
}
